numpy
numpy-financial
openpyxl
pandas
Pint
pydantic
dash
xlwings
dash_bootstrap_components
xlsxwriter
sympy
scipy
dash-ag-grid
nbformat
git+https://github.com/sandeeprah/agility.git@skeleton-components